:root {
  --white: #ffffff;
  --active: #2196f3;
  --black: #000000;
  --primary-text: #212121;
  --secondary-text: #757575;
  --gray-bgc: #f5f4fa;
  --mailito: rgba(255, 255, 255, 0.6);
  --ftr-bcg: #2f303a;
  --social-icon: #AFB1B8;
  --function-animation: cubic-bezier(0.4, 0, 0.2, 1);
}

/* цвет основного текста 212121 */
/* вторичный цвет текста 757575 */
/* цвет логотипа 000000; 2196F3 */
/* белый цвет FFFFFF */
/* цвет адреса FFFFFF 0.6 */
/* background color E5E5E5 */
/* background header FFFFFF */
/* second background color F5F4FA */
/* background footer 2F303A */


html {
  box-sizing: border-box;
}

*,
*::after,
*::befor {
  box-sizing: inherit;
}
body {
  color: var(--primary-text);
  background-color: var(--white);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

/* убирает маркеры*/
.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

/* убирает подчеркивание*/
a {
  text-decoration: none;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
/* хедер*/

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.page-header .flexbox {
align-items: center;
justify-content: flex-end;
}
 

/* лого */

.logo {
  margin-right: 93px;
}

.logo > span {
  padding-top: 25px;
  padding-bottom: 25px;
  color: var(--active);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo {
  padding-top: 25px;
  padding-bottom: 25px;
  color: var(--black);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}


/* site-nav */
.site-nav .current {
  color: var(--active)
}

.site-nav {
  display: flex;
}
.site-nav-item:not(:last-child) {
  margin-right: 50px;
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.site-nav .link { 
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;
  color: var(--primary-text);
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--active);
}

.site-nav .link.current {
  color: var(--active);
}

.site-nav-link .link{
  position: relative;
}
.site-nav-link{
  position: relative;
}
.current:after {
  content:"";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 100%;
  height: 4px;
  background-color: var(--active);
  border-radius: 2px;

}


/*адрес в хедере*/

.contacts-icon{
  fill: var(--secondary-text);
  margin-right: 10px;
 }

 .link-contacts {
   display: flex;
   align-items: center;
 }

.auth-nav {
  display: flex;
}

.auth-nav .link-contacts {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--secondary-text);
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-contacts:hover, 
.link-contacts:focus {
  color: var(--active);
  
}

.link-contacts:hover .contacts-icon {
  fill: var(--active);
}

 .contacts:not(:last-child) {
  margin-right: 50px;
}

.line {
  border-bottom: 1px solid #ECECEC;
  flex-grow: 1;
}

  

/*герой*/

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
height: 600px;
max-width: 1600px;
margin-right: auto;
margin-left: auto;
background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ), url(../img/bgi.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

.hero .hero-box {
  text-align: center;
}

.hero-title {
  margin-top: 0px;
  margin-bottom: 30px;
color: var(--white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
 letter-spacing: 0.06em;
}

/* button*/
.primary-button {
  display: inline-block;
  text-align: center;
  border-color: var(--active);
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  border: 1px solid transparent;
  color: var(--white);
  background-color: var(--active);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

/*секция преимущества*/

.flex-element:not(:last-child) {
  margin-right: 30px;

}
.flex-element {
  width: calc((100% - 30px * 3) / 4);
}


.feature-icon  {
  display: flex;
 justify-content: center;
 align-items: center;
  background-color: var(--gray-bgc);
  border: 1px solid transparent;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
}


.section-title {
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.section .section-text {
  max-width: 270px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--secondary-text);
  font-size: 14px;
  line-height: 1.71;
}

/*галерея*/

.gallery h2 {
  margin-top: 0px;
  margin-bottom: 50px;
  padding: 0px 0px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.work-photo {
  width: calc((100% - 30px * 2) / 3);
}

.work-photo:not(:last-child) {
  margin-right: 30px;
}
.work-photo {
  position: relative;
}

.gallery-text {
  display: flex;
  justify-content: center;
padding-top:25px;
  font-weight: 700;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--white);
}
.gallery-bgc {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

/*команда*/

.team-section {background-color: var(--gray-bgc)}
.team-section h2 {
  margin-top: 0px;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.team .list {
  background-color: var(--white);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.team-box {
  margin-right: 30;
}

.team-box:not(:nth-child(4n)) {
  margin-right: 30px;
}

.team-box {
  width: calc((100% - 30px * 3) / 4);
  background: var(--white);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

.work-desc {
   padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;

}

.team-pecture {
  padding: 0px 0px;
  margin-top: 0px;
   
}

.team-name {
  margin-top: 0px;
  margin-bottom: 10px;
}

.team-text {

  margin-top: 0px;
  margin-bottom: 16px;
  color: var(--secondary-text);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
}

.social-icon-list {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.social-icon-item:not(:last-child) {
  margin-right: 10px;
}

.social-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width:44px;
  height:44px;
  background-color: var(--white);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}
.social-icon-item .social-icon-link:hover .social-icon,
.social-icon-item .social-icon-link:focus .social-icon,
.social-icon-item .social-icon-link:hover,
.social-icon-item .social-icon-link:focus {
  background-color: var(--active);
  fill: var(--white);
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: var(--social-icon);
}

/*Постоянные клиенты*/

.clients h2 {
  margin-top: 0px;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}
.clients-item {
  width: calc((100% - 30px * 5) / 6);
}

.clients-link {
display: flex;
 justify-content: center;
 align-items: center;
 width: 170px;
  height: 90px;
   fill: var(--social-icon);
  border: 1px solid var(--social-icon);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item .clients-link:hover .clients-icon,
.clients-item .clients-link:focus .clients-icon,
.clients-item .clients-link:hover,
.clients-item .clients-link:focus {
  border-color: var(--active);
  fill: var(--active);
}





/*футер*/

 /*.footer .container .flexbox {
  padding: 60px 15px;
}*/

.footer-box-address{
  display: flex;
  margin-bottom: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.logo-footer{
  margin-bottom: 20px;
}

.logo-footer > span {
  color: var(--active);
  
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-footer .logo-white {
  
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--white);
}

.logo-max {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
}

/*адрес*/

 .footer .container {
  padding: 60px 15px;
}

.address {
  
  color: var(--white);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.address .link {
  margin-bottom: 9px;
  margin-top: 9px;
  color: rgba(255, 255, 255, 0.6)
}

.address .link-tel {
  color: rgba(255, 255, 255, 0.6)
}

.footer  {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--ftr-bcg);
}

.footer .logo-max {
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 0;
}

.footer-box {
  display: inline-block;
  margin-top: 12px;
  margin-left: 70px;
}

.follow {
  display: block;
  font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--white);
margin-bottom: 20px;
}

.footer-icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
}


.footer-icon-item {
  width: calc((100% - 10px * 3) /4);
}

.footer-icon-item:not(:last-child) {
  margin-right: 10px;
}

.footer-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width:44px;
  height:44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: var(--active);
}

.footer-icon-link .footer-icon:hover,
.footer-icon-link .footer-icon:focus  {
fill: var(--white)
}

.footer-icon {
  width: 20px;
  height: 20px;
  fill: var(--white);
  
}


/*страница портфолио*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filter-button { 
  display: block;
  border-color: var(--active);
  border-radius: 4px;
  padding: 6px 22px;
  text-align: center;
  border: 1px solid transparent;
font-weight: 500;
font-size: 16px;
line-height: 1.625;
  color: var(--primary-text);
  background-color: var(--gray-bgc);
border-color: var(--gray-bgc);
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--active);
}

.filter-button:hover {
  background-color: var(--active);
  color: var(--white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter {
  justify-content: center;
  margin-bottom: 50px;
}

.team-name {
  color: var(--primary-text);
}

.portfolio {
  width: calc((100% - 30px * 2) / 3);
  background: #FFFFFF;
}

.portfolio-link {
  display: block;
  width: 100%;
  background-color: var(--white);
  box-shadow: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio {
  margin-bottom: 20px;
}


.portfolio:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.portfolio-link .work-desc {
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 20px;
  text-align: left;
}


.overlay {
  width: 100%;
  height: 100%;
  position: relative; 
  overflow: hidden;
}
.portfolio-link:hover .work-desc{
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
.portfolio-link:hover .overlay-text {
 
 transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
 transform: translateY(-100%);
}
.overlay-text {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  height: 100%;
  padding: 64px 24px;
  margin: 0;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--white);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  transform: translateY(0%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* модальное окно*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  opacity: 1;
  overflow: auto;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
opacity: 0;
pointer-events: none;
}

.backdrop.is-hidden .modal {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-50%, -50%) scale(0.5);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
 min-height: 581px;
 min-width: 528px;
  background-color: var(--white);
 
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
width: 30px;
height: 30px;
background-color:var(--white);
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 50%;
}

.modal-close {
  
width: 11px;
height: 11px;

}
